#calendar {
  margin: auto;
  width: 99%;
  padding-top: 1%;
}

//.dayClickWindow {
//  width: 500px;
//  height: 500px;
//  border-radius: 15px;
//  background-color: #000;
//  position: absolute;
//  left: 50%;
//  top: 50%;
//  margin-top: -250px;
//  margin-left: -250px;
//  display: none;
//  z-index: 1;
//}

