<ion-header>
</ion-header>
<ion-content>
  <div>
    <ion-select [(ngModel)]="selectedValue" placeholder="select a crop" style="alignment: right; width: 15%" (ionChange)="changeClient($event)">
      <ion-select-option *ngFor="let client of clients" [value]="client.id">
        {{client.crop}}</ion-select-option>
    </ion-select>
  </div>
    <div class="card">
        <div class="card-body p-0">
            <div id="calendar"></div>
        </div>
    </div>
</ion-content>
<div class="dayClickWindow"></div>
<div class="modal fade" id="calendarModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle"></h4>
                <button class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span> <span
                        class="sr-only">close</span></button>
            </div>
            <div class="modal-body" id="modalBody"></div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
